---
import Layout from "../../layouts/Layout.astro";
import ProjectBox from "../../components/ProjectBox.astro";
import { getCollection } from "astro:content";
const projects = (await getCollection("projects")).sort(
  (a, b) =>
    new Date(b.data.publishedAt).getTime() -
    new Date(a.data.publishedAt).getTime()
);
---

<Layout og_type="website">
  <div>
    {
      projects.map((project) => (
        <>
          <div class="divider my-2" />
          <ProjectBox
            title={project.data.title}
            publishedAt={project.data.publishedAt}
            description={project.data.description}
            href={project.slug}
          />
        </>
      ))
    }
  </div>
</Layout>
